@import "_reset";
@import "_vars";
@import "_footer";

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.wrapper {
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-size: 34px;
	line-height: 46px;
	color: #111111;
	font-weight: 300;
}

.section_head {
	padding-bottom: 40px;
	border-bottom: 1px solid #D3DFE3;
}

.red-btn {
	display: inline-block;
	border-radius: 6px;
	background-color: $red;
	height: 44px;
	transition: 0.4s;
	font-size: 16px;
	line-height: 44px;
	border: 0;
	color: #fff;

	&:hover {
		background-color: $blue
	}
}

.outline-btn {
	display: inline-block;
	border: 2px solid rgba(#FFFFFF, 0.5);
	border-radius: 6px;
	height: 44px;
	transition: 0.4s;
	font-size: 16px;
	line-height: 40px;
	box-sizing: border-box;
	vertical-align: top;
	color: #fff;

	&:hover {
		background-color: $red;
		border-color: $red;
	}
}

// header

header {
	padding: 26px 0;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;

	 .logo img {
		 width: 156px;
	 }

	 .header_soc-links {
		 display: flex;

		 .soc_link {
			 width: 24px;
			 height: 24px;
			 border-radius: 50%;
			 background-color: #26262B;
			 margin-left: 10px;
			 display: flex;
			 justify-content: center;
			 align-items: center;
			 transition: 0.3s;

			 &:hover {
				 background-color: $red
			 }
		 }
	 }

	 .header_actions {
		 display: flex;
		 align-items: center;

		 .header_choose-language {
			 position: relative;
			 display: flex;
			 align-items: center;
			 font-size: 14px;
			 padding: 0 10px;
			 margin-right: 30px;
			 margin-left: 35px;
			 background: #000;
	     color: #eee;
			 border-radius: 4px;
			 height: 32px;
			 cursor: pointer;
			 transition: 0.4s;

			 &:hover {
				 background-color: $red;
			 }

			 p {
				 margin: 0 10px;
			 }

			 span {
					display: block;
					width: 4px;
					height: 4px;
					border: 2px solid #555;
					margin-top: -3px;
					border-top-color: transparent;
					border-right-color: transparent;
					transform: translate(-50%, -50%);
					transform: rotate(-45deg);
			 }

			 .choose-language__select {
				 display: none;
				 position: absolute;
				 top: 110%;
				 left: 0;
				 width: 100%;
				 background-color: #fff;
				 box-shadow: 0px 5px 15px rgba(57, 71, 72, 0.1);
				 border-radius: 6px;

					.choose-language__item {
						font-size: 14px;
						line-height: 28px;
						padding-left: 10px;
						color: #000;
						transition: 0.4s;
						height: 100%;
						display: block;

						&:hover {
							background-color: $red;
							color: #fff;
						}
					}

					.choose-language_active {
						background-color: #bbb;
						color: #fff;
					}
			 }
		 }

		 .header_old {
			 .header_old_number {
				 font-size: 56px;
				 line-height: 0;
				 font-family: 'Playfair Display', serif;
			 }

			 .header_old_text {
				 font-size: 14px;
				 width: 85px;
				 display: inline-block;
				 line-height: 1.2;
			 }
		 }
	 }
}

// nav

nav {
	background-color: $red;

	.wrapper {
		display: flex;

		li {
			width: 12.5%;
			text-align: center;
			border-right: 1px solid #b31b11;

			&:first-child {
				border-left: 1px solid #b31b11;
			}

			a {
				line-height: 50px;
				text-transform: uppercase;
				color: #fff;
				width: 100%;
				height: 100%;
				font-size: 12px;
				display: block;
				transition: 0.4s;

				&:hover {
					background-color: $blue;
				}
			}

		}
	}
}

// mobile-header

.mobile-header {
	display: none;
	background-color: #fff;
	padding: 16px;
	justify-content: space-between;
	align-items: center;

	.mobile-header__burger {
		cursor: pointer;
	}
}

// mobile-menu

.mobile-menu {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9;
	overflow-x: hidden;

	.mobile-menu__inner {
		width: calc(100% - 72px);
		background-color: #fff;
		min-height: 100vh;
		display: flex;
		flex-direction: column;

		.mobile-menu__top {
			height: 60px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 16px;

			.header_choose-language {
	 			 position: relative;
	 			 display: flex;
	 			 align-items: center;
	 			 font-size: 14px;
	 			 padding: 0 10px;
	 			 background: #000;
	 	     color: #eee;
	 			 border-radius: 4px;
	 			 height: 32px;
	 			 cursor: pointer;
	 			 transition: 0.4s;

	 			 &:hover {
	 				 background-color: $red;
	 			 }

	 			 p {
	 				 margin: 0 10px;
	 			 }

	 			 span {
	 					display: block;
	 					width: 4px;
	 					height: 4px;
	 					border: 2px solid #555;
	 					margin-top: -3px;
	 					border-top-color: transparent;
	 					border-right-color: transparent;
	 					transform: translate(-50%, -50%);
	 					transform: rotate(-135deg);
	 			 }

	 			 .choose-language__select {
	 				 display: none;
	 				 position: absolute;
	 				 top: 110%;
	 				 left: 0;
	 				 width: 100%;
	 				 background-color: #fff;
	 				 box-shadow: 0px 5px 15px rgba(57, 71, 72, 0.1);
	 				 border-radius: 6px;

	 					.choose-language__item {
	 						font-size: 14px;
	 						line-height: 28px;
	 						padding-left: 10px;
	 						color: #000;
	 						transition: 0.4s;
	 						height: 100%;
	 						display: block;

	 						&:hover {
	 							background-color: $red;
	 							color: #fff;
	 						}
	 					}

	 					.choose-language_active {
	 						background-color: #bbb;
	 						color: #fff;
	 					}
	 			 }
	 		 }
		}

		.mobile-menu__old {
			background-color: #F3F5FD;
			box-sizing: border-box;
			padding: 30px 26px;


			.header_old_number {
				font-size: 56px;
				line-height: 0;
				font-family: 'Playfair Display', serif;
				margin-right: 15px;
			}

			.header_old_text {
				font-size: 14px;
				display: inline-block;
				line-height: 1.2;
			}
		}

		.mobile-menu__links {
			padding-top: 10px;
			padding-left: 16px;
			flex: 1;

			li {
				margin-top: 30px;

				a {
					font-size: 24px;
					line-height: 28px;
					color: #000000;
					transition: 0.4s;

					&:hover {
						color: $red;
					}
				}

			}


		}

		.mobile-menu__exchange-rate {
			padding: 22px 16px;
			border-top: 1px solid #D3DFE3;
	    border-bottom: 1px solid #D3DFE3;

			a {
				color: $red;
				margin-right: 34px;
				font-size: 20px;
				line-height: 27px;
				transition: 0.4s;

				&:hover {
					color: $blue;
				}
			}
		}

		.mobile-menu__soc-links {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 19px 20px 15px 16px;

			.soc_link {
				width: 28px;
				height: 28px;
				background-color: #26262B;
				border-radius: 50%;
				display: flex;
				margin-right: 3px;
				margin-bottom: 5px;
				align-items: center;
				justify-content: center;
				transition: 0.3s;

				&:hover {
					background-color: $red;
				}
			}
		}

	}

	.mobile-menu__close {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		height: 60px;
		width: 72px;
		cursor: pointer;

		&:hover svg rect {
			fill: $red;
		}
	}

}

// statistic

.statistic {
	border: 1px solid #D3DFE3;
	font-family: 'Roboto', sans-serif;
	display: flex;
	padding: 0 10px;

	.statistic__items {
		margin-right: 0;
		margin-left: auto;
		display: flex;
		width: 100%;
		overflow: hidden;
		flex-shrink: 0;
		padding: 18px 0 17px;
		flex-wrap: nowrap;

		.statistic__item {
			border-left: 3px solid black;
			padding-left: 8px;
			padding-right: 10px;
			box-sizing: border-box;
			max-width: 140px;
			width: 100%;
			flex-shrink: 0;
			user-select: none;

			&_title {
				color: #8C9BAB;
				font-weight: 500;
				font-size: 14px;
			}

			&_price {
				margin: 7px 0 10px;
				color: #000000;
				font-weight: bold;
				font-size: 16px;
				line-height: 19px;
				display: block;
			}

			&_dinamycs {
				font-weight: 500;
				font-size: 12px;
				line-height: 14px;
		    display: block;

				&:after {
					content: '';
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					position: relative;
				}
			}
		}

		.quot_red {
			border-color: $red;

			.statistic__item_dinamycs {
				color: $red;

				&:before {
					content: '-';
				}

				&:after {
					border-top: 8px solid $red;
					margin-left: 10px;
					top: 12px;
				}
			}
		}

		.quot_green {
			border-color: #27AE60;

			.statistic__item_dinamycs {
				color: #27AE60;

				&:before {
					content: '+';
				}

				&:after {
					border-bottom: 8px solid #27AE60;
					margin-left: 7px;
					top: -12px;
				}
			}
		}
	}

	& > div {
		width: calc((100% - 1120px) / 2);
	}

	&__arrow-buttons {
		min-width: 100px;
		display: flex;
		border-left: 1px solid #D3DFE3;
		padding: 18px 0 17px;

		a {
			width: 50%;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.arrow_left {
			border-right: 1px solid #D3DFE3;

			img {
				transform: rotate(180deg);
			}
		}
	}
}

// firts-block

.firts-block {
		background-image: url('../img/banner.jpg');
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 190px;
		padding-bottom: 99px;
		color: #fff;

		h3 {
			font-size: 18px;
			line-height: 25px;
			margin-bottom: 15px;

			span {
				display: block;
				color: $red;
			}
		}

	 .firts-block-h1 {
		 display: flex;
		 flex-wrap: wrap;
		 align-items: center;

		 h1 {
			 font-size: 48px;
		   line-height: 65px;
			 margin-right: 26px;
		 }

		 p {
			 max-width: 220px;
			 font-size: 16px;
			 line-height: 22px;
		 }
	 }

	 h4 {
		 font-size: 14px;
		 margin-top: 25px;
		 margin-bottom: 47px;
	 }

	 .firts-block-actions {
			.red-btn {
				padding-left: 61px;
				padding-right: 61px;
				margin-right: 30px;
				margin-bottom: 20px;
			}

			.outline-btn {
				padding-left: 51px;
				padding-right: 51px;
			}
	 }
}

// search

.search {
	padding: 40px 0;

	input[type="search"] {
		width: calc(100% - 156px);
		border-radius: 6px 0 0 6px;
		background: #FFFFFF;
		border: 2px solid #C5D5DC;
		border-right: none;
		box-sizing: border-box;
		height: 54px;
		padding: 0 24px;
	}

	.red-btn {
		border-radius: 0 6px 6px 0;
		height: 54px;
		width: 154px;
		margin-left: -4px;

		img {
			margin-left: 30px;
		}
	}
}

// articles

.articles {

	.articles__items {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;

		.article {
			width: 100%;
			// max-width: 354px;
			max-width: calc(33% - 20px);
			margin-right: 30px;
			background: #FFFFFF;
			border: 1px solid #D3DFE3;
			border-radius: 10px;
			margin-top: 30px;
			// margin-right: 29px;
			box-sizing: border-box;

			&:nth-child(3n) {
				margin-right: 0;
			}

			&_head {
				 padding: 18px 20px 15px 20px;
				 display: flex;
				 justify-content: space-between;
				 border-bottom: 1px solid #D3DFE3;

				 p {
					 font-size: 14px;
					 line-height: 16px;
					 color: $red;
					 font-weight: 600;
				 }

				 time {
					 font-size: 14px;
					 line-height: 16px;
					 color: #8C9BAB;
				 }
			}

			&_img {
				height: 160px;
				width: 100%;
				object-fit: cover;
				object-position: center;
			}

			&_title {
				padding: 20px 35px 50px 15px;
				font-weight: 600;
				font-size: 24px;
				line-height: 32px;
				color: #000000;
			}

			&_footer {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 26px 27px 20px;

				&--info {
					span, a {
						margin-right: 20px;
						font-size: 14px;
						color: #6D8088;

						&:last-child {
							margin-right: 0;
						}

						img {
							margin-right: 8px;
						}
					}
				}

				&--read-more {
					color: $red;
					font-weight: 600;
					font-size: 16px;
					transition: 0.4s;

					&:hover {
						color: $blue;
					}

					img {
						margin-left: 20px;
					}
				}
			}
		}
	}

	.last-blog_right {
		display: none;
	}

	&__actions {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		align-items: center;

		.articles_btn {
			border: 2px solid #C5D5DC;
			box-sizing: border-box;
			border-radius: 6px;
			line-height: 40px;
			margin-right: 30px;
			flex-shrink: 0;

			a {
				height: 100%;
				display: inline-block;
				padding: 0 15px;
				color: #394748;
				transition: 0.4s;

				svg {
					position: relative;
					top: 7px;

					path {
						transition: 0.4s;
					}
				}

				&:hover {
					color: $red;
				}
			}

			.prev-arrow {
				border-right: 2px solid #C5D5DC;
				svg {
					margin-right: 14px;
				}
			}

			.next-arrow svg {
				margin-left: 14px;
			}

			.can-arrow svg path {
				stroke: $red;
			}
		}

		.articles_line {
			width: 100%;
			background-color: #D3DFE3;
			height: 3px;
			position: relative;

			&--red {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 50px;
				background-color: $red;
			}
		}

		.articles_show-all {
			margin-left: 55px;
			flex-shrink: 0;
			color: $red;
			transition: 0.3s;

			&:hover {
				color: $blue;
			}

			img {
				margin-left: 10px;
			}
		}
	}
}

// leading

// .leading {
// 	padding: 48px 35px;
// 	background: #FCFCFC;
//
// 	h2 {
// 		margin-bottom: 37px;
// 	}
//
// 	.leading_items {
// 		display: flex;
// 		justify-content: space-between;
// 		flex-wrap: wrap;
// 		margin-bottom: 16px;
//
// 		.leading_item {
// 			max-width: 337px;
// 			width: 32%;
// 			border: 2px solid #E5EEF1;
// 			box-sizing: border-box;
// 			box-shadow: 0px 5px 15px rgba(57, 71, 72, 0.1);
// 			border-radius: 6px;
// 			overflow: hidden;
// 			margin-bottom: 33px;
//
// 			.leading_item_content {
// 				padding: 10px;
// 				box-sizing: border-box;
// 				display: flex;
//
// 				.leading_item_content__logo {
// 					margin-right: 18px;
// 					height: 104px;
// 					width: 104px;
//
// 					img {
// 						width: 100%;
// 						height: 100%;
// 						object-fit: contain;
// 					}
// 				}
//
// 				.leading_item_info {
//
// 					.leading_item_info__changes {
// 						margin-bottom: 5px;
// 						font-weight: bold;
// 						font-size: 20px;
// 						line-height: 27px;
// 						color: #54A416;
// 					}
//
// 					.leading_item_info__name {
// 						margin-bottom: 5px;
// 						font-weight: bold;
// 						font-size: 16px;
//
// 						a {
// 							color: #111111;
// 							line-height: 22px;
// 							transition: 0.3s;
//
// 							&:hover {
// 								color: $red;
// 							}
// 						}
// 					}
//
// 					.leading_item_info__history {
// 						margin-bottom: 4px;
// 						font-size: 14px;
// 						line-height: 19px;
// 						color: #6D8088;
// 					}
//
// 					.leading_item_info__old {
// 						font-weight: 600;
// 						font-size: 16px;
// 						line-height: 22px;
// 						color: #111111;
// 					}
// 				}
// 			}
//
//
// 			.leading_item_actions {
// 				padding: 8px 10px 7px;
// 				box-sizing: border-box;
// 					width: 100%;
// 					background: #F7FAFE;
//
// 				 a {
// 					 color: #394748;
// 					 transition: 0.4s;
// 					 line-height: 25px;
// 					 width: 49%;
// 					 display: inline-block;
// 					 text-align: center;
//
// 					 &:hover {
// 						 color: $red;
// 					 }
//
// 					 img {
// 						 margin-right: 14px;
// 					 }
// 				 }
//
// 				 .leading_item__more {
// 					 box-sizing: border-box;
// 					 border-right: 1px solid #E1E9F4;
// 				 }
// 			}
// 		}
// 	}
//
// 	.red-btn {
// 		padding-left: 66px;
// 		padding-right: 66px;
// 		margin: 0 auto;
// 		display: block;
// 	}
// }

// start-blog

.start-blog {
	padding: 48px 10px 50px;
	box-sizing: border-box;
	margin-top: 80px;
	border-top: 1px solid #D3DFE3;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	&__info_text {
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		color: $red;
	}

	&__info_title {
		margin: 14px 0 25px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		h1 {
			font-size: 48px;
			line-height: 65px;
			margin-right: 25px;
			color: #000000;
		}

		p {
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
			color: #6D8088;
			max-width: 220px;
		}
	}

	&__actions {
		margin: 35px 0;

		.outline-btn {
			border-color: #C5D5DC;
			color: #394748;
			padding-left: 23px;
			padding-right: 27px;

			&:hover {
				color: #ffffff;
				border-color: $red;
			}
		}

		.red-btn {
			margin-left: 30px;
			padding-left: 37px;
			padding-right: 42px;
		}
	}

	&__footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_img {
			width: 44px;
			height: 44px;
			background-color: $red;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 19px;
			transform: rotate(90deg);
			flex-shrink: 0;
		}

		&_text {
			width: 100%;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				z-index: 0;
				height: 1px;
				background: #D3DFE3;
				width: 100%;
			}

			span {
				font-weight: bold;
			}

			p, span {
				position: relative;
				z-index: 1;
				padding-right: 30px;
				box-sizing: border-box;
				background-color: #fff;
				width: max-content;
				font-size: 14px;
				line-height: 19px;
			}
		}
	}

}

// last-blog

.last-blog {
	padding-top: 34px;

	.news_time {
		font-size: 12px;
		line-height: 24px;
		color: #8C9BAB;
	}

	.news_name {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		color: #000000;
	}

	h2 {
		margin-bottom: 44px;
	}

	.last-blog__content {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		}

		.last-blog_left {
			width: 160px;
			margin-right: 46px;
			padding-right: 23px;
			box-sizing: border-box;
			max-height: 550px;
			overflow-x: hidden;

			// overflow-y: auto;
			// &::-webkit-scrollbar { width: 3px; }
			// &::-webkit-scrollbar-track-piece { }
			// &::-webkit-scrollbar-thumb { }

			.simplebar-scrollbar {
				background-color: #CFD4DA;
				border-radius: 10px;
			}

			.simplebar-track {
				background-color: #EEF3F8;
				width: 3px;
				border-radius: 10px;
			}



			.last-blog_select {
				display: none;
				border: 2px solid #C5D5DC;
				box-sizing: border-box;
				border-radius: 6px;
				padding-left: 10px;
				padding-right: 10px;
				box-sizing: border-box;
				width: 100%;
				height: 44px;

				-webkit-appearance: none;
			  -moz-appearance: none;
			  appearance: none;
				background-image: url(../img/bracket-r.svg);
				background-position: calc(100% - 20px) center;
				background-repeat: no-repeat;
			}


			.last-blog_tab-links li {
				display: block;
				margin-bottom: 15px;
				position: relative;

				a {
					font-weight: 600;
					height: 100%;
					display: block;
					font-size: 14px;
					line-height: 2.5;
					color: #6D8088;
					outline: none;

					&:hover {
						color: $red;
					}
				}

				span {
					visibility: hidden;
					position: absolute;
					right: 0;
					color: $red;
				}

				&.active_tab {
					background-image: url('../img/bracket-r.svg');
					background-position: right center;
					background-repeat: no-repeat;

					a {
						color: $red;
					}
				}
			}
		}

		.last-blog_center {
			flex: 1;
			// max-height: 600px;
			// overflow-y: hidden;

			.news__last {
				margin-bottom: 20px;

				.news__type {
					display: flex;
					margin-bottom: 10px;

					img {
						flex-shrink: 0;
						margin-right: 32px;
						width: 98px;
						height: 42px;
					}
				}

				.news__content {
					display: flex;

					.news__content_img {
						flex-shrink: 0;
						margin-right: 32px;
						width: 98px;
						height: 70px;
						object-fit: cover;
						object-position: center;
						border-radius: 4px;
					}

					.news_text {
						font-size: 14px;
						line-height: 24px;
						color: #000000;
					}

					.news__read-more {
						font-weight: 600;
						font-size: 14px;
						line-height: 24px;
						color: $red;
						transition: 0.4s;

						img {
							height: 8px;
							margin-left: 10px;
						}

						&:hover {
							color: $blue;
						}
					}
				}
			}
		}

	}

	.last-blog_right {
		width: 222px;
		margin-left: 50px;

		.other-news__title {
			margin-bottom: 23px;
			font-size: 16px;
			line-height: 24px;
		}

		.other-news {
			margin-bottom: 20px;
			display: block;

			img {
				height: 8px;
				margin-left: 10px;
			}
		}
	}


// currency

.currency {
	margin-top: 55px;
	overflow-x: hidden;

	.currency_head {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		.currency_result {
			font-size: 18px;
			line-height: 24px;
			color: #111111;
			margin-right: 32px;
			margin-left: auto;
		}

		.currency_head_actions {
			display: flex;
			align-items: center;

			.currency_country {
				border: 2px solid #C5D5DC;
				box-sizing: border-box;
				border-radius: 6px;
				padding-left: 10px;
				padding-right: 15px;
				width: 150px;
				height: 44px;
				margin-right: 30px;
				cursor: pointer;

				-webkit-appearance: none;
			  -moz-appearance: none;
			  appearance: none;
				background-image: url(../img/select_arr.svg);
				background-position: calc(100% - 15px) center;
				background-repeat: no-repeat;
			}

			.currency_slider_btn {
				border: 2px solid #C5D5DC;
				box-sizing: border-box;
				border-radius: 6px;
				line-height: 40px;
				margin-right: 30px;
				flex-shrink: 0;

				a {
					height: 100%;
			    display: inline-block;
					padding: 0 15px;
					color: #394748;
					transition: 0.4s;

					svg {
						position: relative;
						top: 7px;

						path {
							transition: 0.4s;
						}
					}

					&:hover {
						color: $red;
					}
				}

				.prev-arrow {
					border-right: 2px solid #C5D5DC;
					svg {
						margin-right: 14px;
					}
				}

				.next-arrow svg {
					margin-left: 14px;
				}

				.can-arrow svg path {
					stroke: $red;
				}
			}

			.red-btn {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	.currency_body {
		margin-top: 40px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		width: calc(100% + 27px);

		.currency_item {
			width: 258px;
			background: #FFFFFF;
			border: 2px solid #E5EEF1;
			box-sizing: border-box;
			border-radius: 10px;
			padding: 17px 30px 17px 20px;
			transition: 0.4s;
			display: flex;
			align-items: center;
			margin-right: 27px;
			margin-bottom: 30px;

			&:hover {
				border-color: $red;

				.currency_item__arrow svg path{
					stroke: $red;
				}
			}

			.currency_item__title {
				margin: 0 15px;

				.currency_item__name {
					font-size: 14px;
					line-height: 16px;
					text-transform: uppercase;
					font-weight: 600;
					display: block;
				}

				.currency_item__from {
					font-size: 12px;
					line-height: 16px;
					color: #8C9BAB;
				}
			}

			.currency_item__arrow {
				margin-left: auto;
			}
		}
	}

	.currency_footer_actions {
		display: none;
		align-items: center;
		flex-wrap: wrap;

		.currency_slider_btn {
			border: 2px solid #C5D5DC;
			box-sizing: border-box;
			border-radius: 6px;
			line-height: 40px;
			flex-shrink: 0;
			width: 100%;
			display: flex;

			a {
				height: 100%;
				width: 50%;
				text-align: center;
				color: #394748;
				transition: 0.4s;

				svg {
					position: relative;
					top: 7px;

					path {
						transition: 0.4s;
					}
				}

				&:hover {
					color: $red;
				}
			}

			.prev-arrow {
				border-right: 2px solid #C5D5DC;
				svg {
					margin-right: 14px;
				}
			}

			.next-arrow svg {
				margin-left: 14px;
			}

			.can-arrow svg path {
				stroke: $red;
			}
		}

		.red-btn {
			padding-left: 30px;
			padding-right: 30px;
			box-sizing: border-box;
			text-align: center;
			width: 100%;
			margin-top: 30px;
		}
	}
}

// brokers

.brokers {
	padding:  42px 0 44px;
	background: #FCFCFC;

	.brokers_body {
		margin-top: 49px;

		.brokers_item {
			display: flex;
			align-items: flex-start;
			margin-bottom: 45px;

			img {
				flex-shrink: 0;
			}

			.brokers_item__text {
				margin-left: 96px;

				h6 {
					font-size: 16px;
					line-height: 22px;
					margin-bottom: 9px;
				}

				p {
					font-size: 14px;
					line-height: 24px;
				}
			}
		}
	}
}

// wffw

.wffw {
	padding-top: 50px;
	padding-bottom: 70px;

	h2 {
		margin-bottom: 40px;
	}

	p {
		margin-bottom: 20px;
		line-height: 1.3;
		font-size: 14px;
	}
}


// media

@media (max-width: 1250px) {
	.statistic {
		padding-right: 0;

		& > div {
			display: none;
		}
	}
}

@media (max-width: 1150px) {
	.currency .currency_body .currency_item {
		margin-right: 15px;
		width: calc(33% - 15px);
	}
}

@media (max-width: 980px) {

	.leading .leading_items .leading_item {
	    max-width: unset;
	    width: 48%;
	}

	.articles {
		.articles__items {
		 justify-content: space-around;

		 .article {
			 max-width: calc(45% - 15px);
			 margin-right: 0;

			 &:nth-child(3n) {
				 margin-right: 0;
			 }

		 }

		}
	}


	.last-blog {
		.last-blog__content {
			flex-wrap: wrap;
		}
	}

	.last-blog_right {
		width: calc(100% + 20px);
		margin-left: 0;
		background: #F3F5FD;
		margin-left: -10px;
		padding: 16px 16px 0;
		box-sizing: border-box;

		.other-news__items, .simplebar-content {
			display: flex;
			align-items: stretch;
			overflow-y: hidden;
		}

		span {
			color: $red;
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
		}

		.news_time {
			font-size: 12px;
			line-height: 24px;
			color: #8C9BAB;
		}

		.simplebar-scrollbar {
			background-color: transparent;
		}

		.simplebar-track {
			background-color: transparent;
		}

		.other-news {
			margin-bottom: 20px;
			flex-shrink: 0;
			background: #FFFFFF;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
			border-radius: 10px;
			margin-right: 20px;
			width: 240px;
			box-sizing: border-box;
			padding: 11px 19px 15px;
			color: #000000;
		}
	}
}

@media (max-width: 850px) {
	.currency .currency_body .currency_item {
		width: calc(49% - 15px);
	}
}

@media (max-width: 768px) {
	header, nav, .search {
		display: none;
	}

	.mobile-header {
		display: flex;
		position: fixed;
		box-sizing: border-box;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5;
	}

	body {
		padding-top: 56px;
	}

	.leading .leading_items {
		justify-content: center;

		 .leading_item {
				max-width: unset;
				width: 90%;
		}
	}

	.articles {

		.articles__items {
		 justify-content: center;

		 .article {
			 max-width: 550px;
			 display: none!important;

			 &:nth-child(1),
			 &:nth-child(2),
			 &:nth-child(3), {
				 display: block!important;
			 }

		 }
	 }

		&__actions {

			.articles_btn,
			.articles_line,
			.articles_show-all img {
				display: none;
			}

			.articles_show-all {
				margin-left: 0;
				color: #ffffff;
				background-color: $red;
				transition: 0.3s;
				width: 100%;
				padding: 14px 0 17px;
				text-align: center;
				border-radius: 6px;
				max-width: 550px;
				margin: 0 auto;

				&:hover {
					color: #ffffff;
					background-color: $blue;
				}
			}
		}

		.last-blog_right {
			display: block;
			margin-top: 20px;
		}

		.news_time {
			margin-top: 12px;
			display: inline-block;
		}
	}

	.brokers {
		padding-bottom: 0;

		.brokers_body {
			margin-top: 39px;

			.brokers_item {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 53px;

				img {
					width: 200px;
				}

				.brokers_item__text {
					margin-left: 0;

					h6 {
						margin-top: 40px;
						margin-bottom: 19px;
					}
				}
			}
		}
	}

	.wffw {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.currency .currency_head {
		.currency_result {
			margin-right: 0;
		}
		.currency_head_actions {
			margin-top: 25px;
			width: 100%;

			.currency_country {
				width: 100%;
				display: block;
				margin: 0;
				background-image: url(../img/bracket-r.svg);
				background-position: calc(100% - 20px) center;
			}

			.currency_slider_btn, .red-btn {
				display: none;
			}
		}
	}
	.currency .currency_footer_actions {
		display: flex;
	}

}

@media (max-width: 650px) {
	.start-blog {
		margin-top: 40px;
		margin-bottom: 20px;
		padding: 0 10px;
		border: 0;

		&__actions {
			width: 100%;
			display: flex;
			flex-direction: column;

			.outline-btn {
				width: 100%;
				order: 2;
				margin-top: 14px;
			}

			.red-btn {
				width: 100%;
				order: 1;
				margin: 0;
				box-sizing: border-box;
			}
		}

		&__footer_text {

			&:after {
				content: none;
			}

			p, span {
				padding-right: 0;
				width: auto;
			}
		}
	}

	.last-blog .last-blog__content {
		.last-blog_left {
			width: 100%;
			padding: 0 0 30px;
			margin-right: 0;

			.last-blog_select {
				display: block;
			}

			.last-blog_tab-links {
				display: none;
			}
		}

		.last-blog_center {
			width: 100%;
		}
	}
}

@media (max-width: 480px) {
	.red-btn, .outline-btn {
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		padding-left: 0!important;
		padding-right: 0!important;
	}

	.leading {
		padding-left: 0;
		padding-right: 0;
	}

	.firts-block {
			padding: 60px 30px 34px;

		 .firts-block-h1 {
			 display: flex;
			 flex-wrap: wrap;
			 align-items: center;

			 h1 {
				 font-size: 42px;
			   line-height: 57px;
				 margin-right: 0;
				 margin-bottom: 13px;
			 }

			 p {
				 max-width: 230px;
			 }
		 }

		 h4 {
			 font-size: 16px;
			 margin-bottom: 35px;
			 line-height: 22px;
		 }

		 .firts-block-actions {
				.red-btn {
					margin-right: 0;
					margin-bottom: 20px;
				}
		 }
	}

	.leading .leading_items .leading_item {
			max-width: unset;
			width: 100%;
	}

	.articles .articles__items {
		justify-content: center;

		.article {
			max-width: 500px;
		}
	}

	.currency {
		margin-top: 30px;

		.currency_body {
			justify-content: center;
			width: 100%;

			.currency_item {
				width: 100%;
				margin-right: 0
			}
		}

		.currency_head {
			padding-bottom: 20px;
			.currency_result {
				width: 100%;
				margin-top: 10px;
			}
		}

		.currency_footer_actions .currency_slider_btn {
			.prev-arrow svg {
				margin-right: 5px;
			}
			.next-arrow svg {
				margin-left: 5px;
			}
		}
	}

	.last-blog .last-blog__content {
		.last-blog_center {
			width: 100%;

			.news__last {
				margin-bottom: 30px;

				.news__type {
					width: 100%;
					padding-left: 15px;
					padding-top: 13px;
					box-sizing: border-box;
					margin-bottom: 0;
					height: 140px;
					z-index: 2;
					position: relative;
					flex-wrap: wrap;
					background: linear-gradient(247.16deg, rgba(33, 36, 36, 0) -0.47%, rgba(33, 36, 36, 0.76) 100%);
					border-radius: 4px;

					.news__title {
						width: 100%;

						.news_time, .news_name {
							color: #fff;
						}
					}
				}

				.news__content {
					flex-wrap: wrap;
					margin-top: -140px;

					.news__content_img {
						width: 100%;
						height: 140px;
						background: linear-gradient(247.16deg, rgba(33, 36, 36, 0) -0.47%, rgba(33, 36, 36, 0.76) 100%);
						border-radius: 4px;
						margin: 0;
					}

					.news_text {
						margin: 15px 0 17px;
					}
				}
			}
		}


	}


}
