@import "_reset";
@import "_vars";
@import "_footer";
@import "_inner-header";

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.hide {
	display: none!important;
}

.wrapper {
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.red-btn {
	display: inline-block;
	border-radius: 6px;
	background-color: $red;
	height: 44px;
	transition: 0.4s;
	font-size: 16px;
	line-height: 44px;
	border: 0;
	color: #fff;

	&:hover {
		background-color: $blue
	}
}

.outline-btn {
	display: inline-block;
	border: 2px solid rgba(#FFFFFF, 0.5);
	border-radius: 6px;
	height: 44px;
	transition: 0.4s;
	font-size: 16px;
	line-height: 40px;
	box-sizing: border-box;
	vertical-align: top;
	color: #fff;

	&:hover {
		background-color: $red;
		border-color: $red;
	}
}

//inner-page

.inner-page {
	background-color: #f6fafe;
}

// banner

.banner {
	width: 100%;
}

// strategies

.strategies {
	margin: 66px 0 50px;

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;

		h1 {
			font-weight: bold;
			font-size: 34px;
			line-height: 46px;
			color: #000000;
		}

		&_actions {
			display: flex;
			flex-shrink: 0;
		}

		&_label {
			font-size: 16px;
			line-height: 26px;
			color: #6D8088;
		}

		&_sort {
			display: flex;
		}

		&_select {
			line-height: 26px;
			font-size: 16px;
			color: #000000;
			cursor: pointer;
			background-image: url(../img/select-arr-red.svg);
			background-position: right center;
			padding-right: 32px;
			margin-right: 34px;
			margin-left: 15px;
			background-repeat: no-repeat;
			position: relative;

			&--open {
				display: none;
				top: calc(100% + 10px);
				position: absolute;
				padding: 10px 20px;
				left: -10px;
				background-color: #fff;
				width: max-content;
				border: 1px solid #D3DFE3;
				border-radius: 5px;

				a {
					display: block;
					color: #000;
					transition: 0.4s;
					line-height: 2;

					&:hover {
						color: $red;
					}
				}
			}
		}

		&_display {
			display: flex;
			align-items: center;

			div {
				display: flex;
				align-items: center;
			}

			svg {
				margin-left: 27px;

				&:hover path, &:hover circle {
					stroke: $red;
				}
			}

			.active {
				svg path, svg circle {
					stroke: $red;
				}
			}
		}
	}

	.strategies__items {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;

		.strategies__item {
			width: 100%;
			background: #FFFFFF;
			border: 1px solid #D3DFE3;
			border-radius: 10px;
			margin-top: 30px;
			box-sizing: border-box;

			&_head {
				 padding: 18px 20px 15px 30px;
				 display: flex;
				 justify-content: space-between;
				 border-bottom: 1px solid #D3DFE3;

				 p {
					 font-size: 14px;
					 line-height: 16px;
					 color: $red;
					 font-weight: 600;
				 }

				 time {
					 font-size: 14px;
					 line-height: 16px;
					 color: #8C9BAB;
				 }
			}

			&_title {
				padding: 20px 20px 10px 30px;
				font-weight: 600;
				font-size: 30px;
				line-height: 42px;
				color: #000000;
			}

			&_text {
				font-size: 14px;
				line-height: 24px;
				color: #000000;
				padding-left: 30px;
				padding-right: 20px;
				margin-bottom: 13px;
			}

			&_footer {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 30px 27px;

				&--info {
					span {
						margin-right: 35px;
						font-size: 14px;
						color: #6D8088;

						&:last-child {
							margin-right: 0;
						}

						img {
							margin-right: 8px;
						}
					}
				}

				&--read-more {
					color: $red;
					font-weight: 600;
					font-size: 16px;
					transition: 0.4s;

					&:hover {
						color: $blue;
					}

					img {
						margin-left: 20px;
					}
				}
			}

		}
	}

	.half {
		align-items: stretch;

		.strategies__item {
			width: calc(50% - 15px);
			margin-right: 30px;

			&:nth-child(2n) {
				margin-right: 0;
			}

			.strategies__item_title {
				padding-bottom: 22px;
				min-height: 114px;
			}

			.strategies__item_text {
				display: none;
			}
		}
	}

	&__show-more {
		margin-top: 50px;
		font-size: 16px;
		text-align: center;
		width: 100%;
		background-color: $red;
		display: block;
		color: #FFFFFF;
		padding: 32px 0;
		border-radius: 8px;
		transition: 0.4s;

		img {
			margin-right: 22px;
			width: 12px;
		}

		&:hover {
			background-color: $blue;
		}
	}

}

@media (max-width: 980px) {
	.strategies__head {
		flex-wrap: wrap;

		h1 {
			width: 100%;
			margin-bottom: 30px;
		}

		&_actions {
			margin-left: auto;
		}
	}

	.strategies .strategies__items .strategies__item_footer--info span {
		margin-right: 15px;
	}

}

@media (max-width: 900px) {
	.strategies {
		.half .strategies__item {
			width: 100%;
			margin-right: 0;
		}
		.strategies__items .strategies__item_text {
			display: none;
		}
	}
}

@media (max-width: 768px) {
	.banner {
		display: none;
	}

	.strategies__head_actions {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;

		.strategies__head_sort, .strategies__head_display {
			width: 100%;
			padding: 17px 10px;
			box-sizing: border-box;
			border-top: 1px solid #D3DFE3;
			display: flex;
			justify-content: space-between;
		}

		.strategies__head_display {
			border-bottom: 1px solid #D3DFE3;
		}
	}

	.strategies__head_select {
		background-image: url('../img/bracket-r.svg');
		margin: 0;
		padding-right: 19px;
	}
}

@media (max-width: 480px) {
	.strategies {
		margin: 0;
		padding: 40px 0 30px;

		.strategies__head {
			margin-bottom: 0;
		}

		.strategies__items {
			.strategies__item {
		    margin-top: 20px;
			}

			.strategies__item_title {
				font-size: 24px;
				line-height: 42px;
				padding-bottom: 40px!important;
			}

			.strategies__item_footer--info span {
				img {
					margin-right: 3px;
				}
			}

			.strategies__item_footer--read-more {
				margin-top: -3px;
				span {
					display: none;
				}
				img {
					margin: 0;
				}
			}
		}

		.strategies__show-more {
	    margin-top: 30px;
		}
	}
}
